h1 {
    font-family:Georgia, 'Times New Roman', Times, serif; font-size: small; font-size: 30px
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(255, 255, 255);
    margin: 20px;
    padding: 5px;
}

h1 {
    color:rgb(192, 46, 78);
    text-align: center;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif

}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a {
    color:hotpink;
    text-decoration: none;
}
